# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*pycache*
.vscode
.idea
config/config.json
errorLogger
structs
src
handlers/bulkDelete.go
# Dependency directories (remove the comment below to include it)
# vendor/
